//左側上部
.side
  .side-header
    .side-header__box
      %p.box-username あきら
      %ui.box-menu
        %li.box-menu__edit-user
          = link_to "#" do
            = icon('fas', 'edit')
        %li.box-menu__new-group
          = link_to "#" do
            = icon('fas', 'cog')

    //左側グループ
  .groups
    .groups-box
      %p.groups-box__name teck::expart
      %p.groups-box__message まだメッセージはありません。
        